body {
    background-color: #e0f7fa;
    color: #4d4d4d;
    font-family: Futura, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #b2ebf2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    flex-direction: row;
}

.nav-link {
    margin: 0 50px;
    text-decoration: none;
    color: #00796b;
}

.nav-link:hover {
    text-decoration: underline;
    color: #004d40;
}

.container {
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.post-form input, .post-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #b2dfdb;
}

.post-form button {
    background-color: #80deea;
    color: #004d40;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post {
    background: #e0f4f7;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post h3 {
    margin: 0;
}

.post small {
    color: #78909c;
}

.delete-button {
    background-color: #ff8a80;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.success-message {
    color: #00796b;
    font-weight: bold;
    margin-top: 20px;
}

.error-message {
    color: #d32f2f;
    font-weight: bold;
    margin-top: 20px;
}